<div class='main_div'>
  <nav>
    <div class='burger_menu'>
      <%= link_to groups_path, class: 'back_btn' do %>
        <img src="https://img.icons8.com/material-outlined/24/ffffff/back--v1.png" alt="back"/>
      <% end %>
    </div>
    <p><%= @group.name %></p>
    <%= link_to "SIGN OUT", destroy_user_session_path, data: { turbo_method: :delete }, class: 'signout' %>
  </nav>
<div class = 'total_amount'>
<p>Total amount:</p>
<p><%= @total %></p>
</div>
<% @entities.each do |entity| %>
  <div class="individual_entity">
    <p><%= entity.name %></p>
    <p><%= entity.amount%></p>
  </div>
<% end %>

<%= link_to "Add Transaction", new_group_entity_path(@group), class: "btn btn-primary" %>
