<div class='main_div'>
  <nav>
    <div class='burger_menu'>
      <%= link_to groups_path, class: 'back_btn' do %>
        <img src="https://img.icons8.com/material-outlined/24/ffffff/back--v1.png" alt="back"/>
      <% end %>
    </div>
    <p>CATEGORY</p>
        <%= button_to "SIGN OUT", destroy_user_session_path, method: :delete, class: 'signout' %>
  </nav>

  <%= form_with(model: @group, url: groups_path, local: true) do |form| %>
   <% if @group.errors.any? %>
      <% @group.errors.full_messages_for(:icon).each do |msg| %>
        <p class ='error'> <%= msg %> </p>
      <% end %>
    <% end %>

  <p class = 'add_category'> Add your category </p>
    <div class="field">
      <%= form.text_field :name, placeholder: 'Category name' %>
    </div>

    <div class="field">
      <%= form.text_field :icon, placeholder: 'Icon URL' %>
    </div>

    <div class = 'suggestions'>
    <h3>There are some suggestions for categories:</h3>
    <p class = 'suggestion_p'>Entertainment:   <span>https://img.icons8.com/ios/50/theatre-mask.png</span> </p> <br>
    <p class = 'suggestion_p'>Groceries:   <span> https://img.icons8.com/emoji/48/banana-emoji.png</span> </p><br>
    <p class = 'suggestion_p'>Bills:   <span>https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/external-taxes-banking-flaticons-lineal-color-flat-icons-4.png</span> </p><br>
    <p class = 'suggestion_p'>Shopping:   <span>https://img.icons8.com/fluency/48/shopaholic.png</span> </p><br>
    <p class = 'suggestion_p'>Transport:   <span>https://img.icons8.com/fluency/48/sedan.png</span></p><br>
    <p class = 'suggestion_p'>Eating out:   <span>https://img.icons8.com/fluency/48/waiter.png</span></p><br>
    <p class = 'suggestion_p'>Holiday:   <span>https://img.icons8.com/fluency/48/beach.png</span></p><br>
    <p class = 'suggestion_p'>Personal care:   <span>https://img.icons8.com/fluency/48/spa-mask.png</span></p><br>

    </div>

<div class="actions">
  <%= form.submit 'ADD CATEGORY'%>
</div>
<% end %>
</div>
